h1{
    text-align: center;
    font-size: 2cm;
}
.espacio {
    margin-top: 200px;
}

p {
    font-size: 25px;
}

.centrarImagen {
    text-align: center;
}
.ponerbienImagen{
    text-align: center;
}

.tamanio{

}